.authContainer {
    background-color: black;
    max-width: 400px;
    margin: auto;
    margin-top: 150px;
    padding: 20px;
    border-radius: 10px;
    --border-bottom-width: 0.5px;
    --border-color: rgba(255, 255, 255, 0.1);
    --border-left-width: 0.5px;
    --border-right-width: 0.5px;
    --border-style: solid;
    --border-top-width: 0.5px;
    backdrop-filter: blur(3px);
    background: linear-gradient(rgba(40, 40, 40, 0.15) 0%, rgba(0, 0, 0, 0.05) 100%);
    opacity: 1;
    transition: box-shadow 0.3s ease, backdrop-filter 0.3s ease;
    /* box-shadow: rgba(0, 0, 0, 0.11) 0px 0.636953px 0.636953px -0.9375px, rgba(0, 0, 0, 0.1) 0px 1.9316px 1.9316px -1.875px, rgba(0, 0, 0, 0.09) 0px 5.10612px 5.10612px -2.8125px, rgba(0, 0, 0, 0.04) 0px 16px 16px -3.75px; */
  }
  .authContainer:hover {
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0.636953px 0.636953px -0.9375px, 
                rgba(0, 0, 0, 0.1) 0px 1.9316px 1.9316px -1.875px, 
                rgba(0, 0, 0, 0.09) 0px 5.10612px 5.10612px -2.8125px, 
                rgba(0, 0, 0, 0.04) 0px 16px 16px -3.75px;
    backdrop-filter: blur(20px);
}

  .logo-title {
    color: darkgray;
  }

  .logo-container{
    display: flex;
    justify-content: center;
  }

  .logo-img{
    width: 50px;
    border-radius: 10px;
  }


  
