.blured-navbar {
    display: flex;
    align-items: center;
    --border-bottom-width: 0.5px;
    --border-color: rgba(255, 255, 255, 0.1);
    --border-left-width: 0.5px;
    --border-right-width: 0.5px;
    --border-style: solid;
    --border-top-width: 0.5px;
    backdrop-filter: blur(20px);
    background: linear-gradient(rgba(209, 209, 209, 0.15) 0%, rgba(102, 102, 102, 0.05) 100%);
    opacity: 1;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.11) 0px 0.636953px 0.636953px -0.9375px, rgba(0, 0, 0, 0.1) 0px 1.9316px 1.9316px -1.875px, rgba(0, 0, 0, 0.09) 0px 5.10612px 5.10612px -2.8125px, rgba(0, 0, 0, 0.04) 0px 16px 16px -3.75px;
    height: 80px;
    width: 70%;
    position: fixed;
    left: 50%; /* Center horizontally */
    top: 3%;
    transform: translateX(-40%); /* Center horizontally */
    z-index: 9997; /* Ensure it's above everything */
}

.nav-buttons {
    cursor: pointer;
    border: none;
    background: linear-gradient(rgb(22, 119, 255) 0%, rgba(102, 102, 102, 0.05) 100%);
    opacity: 1;
    border-radius: 15px;
    z-index: 9998;
    color: white;
    padding: 10px 10px;
    margin: 10px;
    
}

.nav-buttons:hover {
    background: rgb(22, 119, 255);
}

.logout-position {
    margin-left: auto; /* Pushes the button to the far right */
    padding: 10px;
}
  
  
  
  

