/* Create a gradient text effect */
.gradient-text {
    background-image: linear-gradient(rgb(22, 119, 255) 20%, rgba(0, 0, 0, 0.05));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 40px; /* Adjust the font size as needed */
  }
  
.filter-inputs{
  margin-right: 10px;
  
}

.filter-container{
  display: flex;
}

